body{
    background-color: hotpink;
    color:whitesmoke;
}
h1{color:blanchedalmond;
}
img{
    border-radius: 50;
}

#special{
    color:darkseagreen;
}

#special2{
    color: blueviolet;
    background-color: aqua;
}
